<header>
    <nav class="z-depth-0">
        <div class="nav-wrapper">
            <a class="brand-logo center" style="font-size: 15px">Resource Master</a>
            <ul id="nav-mobile" class="right no-drag">
                <li>
                    <a id="winmin" class="window-control-wrapper"><img
                            src="../../assets/icons/windowControl/minimize.png"
                            class="window-min"
                            alt=""
                        /></a>
                </li>
                <li>
                    <a id="winwdw" class="window-control-wrapper"><img
                            src="../../assets/icons/windowControl/window.png"
                            class="window-wdw"
                            alt=""
                        /></a>
                </li>
                <li>
                    <a id="wincls" class="window-control-wrapper"><img
                            src="../../assets/icons/windowControl/close.png"
                            class="window-cls"
                            alt=""
                        /></a>
                </li>
            </ul>
            <ul id="nav-mobile" class="left no-drag">
                <li id="sm-ico-wrap" class="nav-items"><img id="small-icon" src="../../assets/icons/icon.png" /></li>
                <li>
                    <a id="nav-file" class="nav-items">File</a>
                </li>
                <li><a id="nav-settings" class="nav-items">Settings</a></li>
                <li><a id="nav-sql" class="nav-items">SQL</a></li>
            </ul>
        </div>
    </nav>
</header>