/* Disable highlighting on content */
:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}
input,
button,
textarea,
:focus {
    outline: none;
}

/* Import font */
html {
    font-family: "Montserrat", sans-serif !important;
}

/* Make sure scrollbar does not flood into title bar (navbar) */
body {
    color: rgb(233, 233, 233);
    overflow-y: hidden;
}
#main-content,
#main-err-content {
    max-height: 100vh;
    overflow-y: auto;
    padding-bottom: 4rem;
}
#main-content {
    padding-left: 260px;
}

/* Customize scrollbar */
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background-color: #3e3e3e;
}
::-webkit-scrollbar-thumb {
    background-color: #6e6e6e;
    border-radius: 20px;
    border: 3px solid #3e3e3e;
}

/* Customize custom title bar */
nav {
    height: 25px !important;
    line-height: 25px !important;
    background: #1e1e1e !important;
    -webkit-app-region: drag;
}
nav i,
nav [class^="mdi-"],
nav [class*="mdi-"],
nav i.material-icons {
    height: 25px;
    line-height: 25px;
}
nav .button-collapse i {
    height: 25px;
    line-height: 25px;
}
#nav-mobile {
    -webkit-app-region: no-drag;
}
.nav-items {
    /* Default looks too bulky for my liking */
    font-size: 0.9em;
    padding: 0px 8px 0px;
    height: 25px;
}
.window-control-wrapper {
    height: 25px;
    padding-left: 10px;
    padding-right: 10px;
}
#small-icon {
    height: 20px;
    margin-top: 2px;
}

/* Sidenav */
.sidenav {
    top: 25px !important;
    background-color: #474747 !important;
    width: 260px !important;
}
.sidebar-options {
    color: white !important;
}

/* --Infuriatingly-- customize window control icons */
.window-min {
    height: 19px;
}
.window-wdw {
    height: 15px;
    margin-top: 5px;
}
.window-cls {
    height: 19px;
    margin-top: 3px;
}

/* Title bar items hover color */
nav ul li:hover {
    background-color: rgba(255, 255, 255, 0.2) !important;
}
#wincls:hover {
    background-color: rgba(255, 0, 0, 0.646) !important;
}
#sm-ico-wrap:hover {
    background-color: #1e1e1e !important;
}

/* Error window icon */
.img-frame {
    height: 50px;
    width: 50px;
    text-align: center;
    margin: 1em 0;
    margin-bottom: 5px;
    margin-top: 20px;
}
.img-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.img-object {
    vertical-align: middle;
    max-height: 50px;
    max-width: 50px;
}

/* Miscellaneous */

#app-title {
    margin-top: 0.5rem;
}

#subtitle-top {
    margin-bottom: 0;
    color: rgb(175, 175, 175);
}

img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

a {
    cursor: default !important;
}

button {
    text-transform: unset !important;
}
