/* Disable highlighting on content */
:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}
input,
button,
textarea,
:focus {
    outline: none;
}

/* Import font */
html {
    font-family: "Montserrat", sans-serif !important;
}

/* Make sure scrollbar does not flood into title bar (navbar) */
body {
    color: rgb(233, 233, 233);
    overflow-y: hidden;
}
#main-content {
    max-height: 100vh;
    overflow-y: auto;
}

/* Customize scrollbar */
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background-color: #3e3e3e;
}
::-webkit-scrollbar-thumb {
    background-color: #6e6e6e;
    border-radius: 20px;
    border: 3px solid #3e3e3e;
}

/* Customize custom title bar */
nav {
    height: 25px !important;
    line-height: 25px !important;
    background: #ee82ee !important;
    -webkit-app-region: drag;
}
nav i,
nav [class^="mdi-"],
nav [class*="mdi-"],
nav i.material-icons {
    height: 25px;
    line-height: 25px;
}
nav .button-collapse i {
    height: 25px;
    line-height: 25px;
}
#nav-mobile {
    -webkit-app-region: no-drag;
}

/* Miscellaneous */

#app-title {
    margin-top: 0.5rem;
}

#subtitle-top {
    margin-bottom: 0;
    color: rgb(175, 175, 175);
}
